.sendForm {
    margin: 35px 70px;
    display: flex;
    justify-content: center;
}

.textarea {
    resize: none;
    border: none;
    border-radius: 20px;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    opacity: .9;
    padding: 12px 24px;
}

.button {
    margin-left: 30px;
    padding: 0 15px 0;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background-color: #0066CC;
}

.button:hover {
    color: #FFFFFF;
    background-color: #44a1f8;
}

.button:active {
    color: #FFFFFF;
    background-color: #204877;
}
